name: CVELint
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule: 
    - cron: "0 */12 * * *" 

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  CVE-Lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    # Install CVE Lint

    - name: Install CVELINT
      run: |
        wget https://github.com/mprpic/cvelint/releases/latest/download/cvelint_Linux_x86_64.tar.gz
        tar -xvf cvelint_Linux_x86_64.tar.gz
        chmod +x cvelint
        ./cvelint -h
        
    - name: Grab Needed Data
      run: |
        git clone https://github.com/CVEProject/cvelistV5 --depth=1
         
    - name: Run CVELINT
      env:
        GH_TOKEN:  ${{ secrets.GH_TOKEN }}
      run: |
          # ./cvelint -format csv ./cvelistV5/cves > CVEV5Errors.csv 2>&1
          # ./cvelint -format json ./cvelistV5/cves > CVEV5Errors.json 2>&1
          ./cvelint -summary -format csv ./cvelistV5/cves > CNAErrors.csv 2>&1
          ./cvelint -summary -format json ./cvelistV5/cves > CNAErrors.json 2>&1
      continue-on-error: true

    - name: Commit changes
      uses: EndBug/add-and-commit@v9
      with:
          default_author: github_actions
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
